/* public/shared/styles/reset.css */

/* Restablecimiento Básico */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base de Tipografía */
html {
    font-size: 16px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

/* Eliminar estilos de enfoque en botones/interactivos */
button,
a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    padding: 0;
}

/* Reset de elementos de formulario */
input,
textarea,
button,
select {
    font: inherit;
    color: inherit;
}

/* Resetear listas */
ul, ol {
    list-style: none;
}

/* Resetear imágenes para que se comporten de forma responsiva */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}