/* public/shared/styles/typography.css */

body {
    font-family: var(--font-family-base);
    color: var(--color-text-light);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin-bottom: var(--spacing-md);
    color: var(--color-purple-light); /* Ahora es blanco */
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.25rem; }

p {
    margin-bottom: var(--spacing-sm);
}

a {
    color: var(--color-purple-light); /* Blanco */
    transition: color 0.2s ease;
}

a:hover {
    color: var(--color-purple-dark); /* Gris claro para el hover */
}